<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defautHref="/inicio-aluno"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let professor of professores">
      <ion-item [routerLink]="['/perfil-professor/', professor.idProfessor]" detail>
        <ion-label class="flex-container">
          <div class="text-container">
            <h2><strong>{{professor.nome}}</strong></h2>
            <p>UF: {{professor.uf}}</p>
            <p>Telefone: {{professor.telefone}}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>


