<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ aluno?.nome }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="links" *ngFor="let page of appPages" [routerLink]="[page.url]" detail>
        <ion-icon slot="start" [md]="page.icon" slot="start" [color]="page.color"></ion-icon>
        <ion-label>{{ page.title }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div id="main-content">
  <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Bem-vindo, aluno</ion-title>
    </ion-toolbar>
  </ion-header>
</div>

<ion-content>
  <div class="image-container">
    <img src="assets/tutorParticular.png" alt="Logotipo" class="logo">
  </div>
  <p><strong>Conectando alunos e professores</strong></p>
</ion-content>
